
main{
    padding: 0 30px;
}

section.title{
    display: flex;
    grid-column: span 4;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
}

section.title h2{
    color: #0b396d;
    font-weight: 500;
}
section.title .button{
    background: #63B446;
    border: 0;
    border-radius: 6px;
    color: white;
    padding: 16px 20px;
    font-size: 20px;
    text-decoration: none;
}
section.title .button:hover{
    cursor: pointer;
    opacity: 0.9;
}
section.professores{
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

section.professor-item{
    display: flex;
    align-items: center;
    background: #FFF;
    box-shadow: 0 0 16px rgba(0,0,0,0.1);
    border-radius: 6px;
    padding: 10px;
}
section.professor-item span{
    color: #0b396d;
    font-weight: 500;
}

.avatar {
    width: 54px;
    height: 54px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;
}
.avatar img {
    width: auto;
    height: 100%;
    margin-left: -20px;
}