@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body{
    background: #E8E8E8;
}
